<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://poc-net-functions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/c6a4ffe5-6f74-4846-b4e1-57386c4b7935/resourceGroups/poc-rg/providers/Microsoft.Web/sites/poc-net-functions</ResourceId>
    <UserName>$poc-net-functions</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://poc-net-functions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>